@keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 11%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    width: 11%;
  }
  to {
    width: 0%;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 80%;
  min-height: 120%;
  height: 120%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.colorContainer {
  display: flex;
  flex-direction: column;
  width: 11%;
  min-height: 120%;
  height: 120%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 18.5px;
  padding: 10px;
  animation: fadeIn 0.5s;
}

.hideContainer {
  animation: fadeOut 0.5s;
}

.colorCircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colorHide {
  animation: fadeOut 1s;
}

.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 80%;
  min-height: 120%;
  height: 120%;
  max-width: 700px;
}

.containerEdit {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 80%;
  min-height: 120%;
  height: 120%;
  max-width: 700px;
}

.containerEditColor {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 10%;
  height: 50vh;
  margin-left: 500px;
}

.containerHeader {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100px;
  max-height: 100px;
  justify-content: center;
  margin-bottom: 30px;
}

.circleLogo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  margin-left: 20px;
  margin-top: 50px;
  border: #fff solid 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.circleActive {
  cursor: pointer;
}

.logo {
  height: 60px;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
}

.circleEdit {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #fff;
  margin-left: 60px;
  margin-bottom: 90px;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.iconEdit {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-left: 2px;
  align-items: center;
  justify-content: center;
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 14px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  flex: 1;
  margin-bottom: 30px;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: flex-start;
}

.input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 95%;
  margin-bottom: 30px;
  font-size: 17px;
  color: #777;
  outline: none;
  transition: all 0.3s ease;
  align-self: center;
}

.input:focus {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 30px;
  outline: none;
  box-shadow: 0 0 5px #ddd;
}

.button {
  margin-top: 30px;
  border: 0;
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;
  width: 40%;
  color: #fff;
  cursor: pointer;
  font-size: large;
  align-self: center;
  justify-content: center;
  margin-bottom: 30px;
}

.buttonDisabled {
  margin-top: 30px;
  border: 0;
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;
  width: 40%;
  cursor: not-allowed;
  color: #606060;
  font-size: large;
  align-self: center;
  justify-content: center;
  margin-bottom: 30px;
}

.bg_1 {
  background: #42c1c7;
}
